@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>ALuno @ViewData["Aluno"]</p>

<address>
    <strong>More infotmation: </strong> <a href="http://www.linkedin.com/in/silasleandro">My LinkedIn profile</a>
</address>